
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="actividad-resistencia.component.css">
</head>
<body>
<div class="container">
  <h1>Resistencias</h1>
  <form [formGroup]="form" (ngSubmit)="calculate()">
    <div class="caja">
      <label for="color1"><h2>Color 1</h2></label>
      <select id="color1" formControlName="color1">
        <option value="" disabled selected>Seleccione un color</option>
        <option *ngFor="let color of colors">{{ color }}</option>
      </select>

      <label for="color2"><h2>Color 2</h2></label>
      <select id="color2" formControlName="color2">
        <option value="" disabled selected>Seleccione un color</option>
        <option *ngFor="let color of colors">{{ color }}</option>
      </select>

      <label for="color3"><h2>Color 3</h2></label>
      <select id="color3" formControlName="color3">
        <option value="" disabled selected>Seleccione un color</option>
        <option *ngFor="let color of colors">{{ color }}</option>
      </select>
    </div>

    <div class="Tolerancia">
      <label>Tolerancia</label><br>
      <input type="radio" formControlName="tolerance" [value]="5"> Oro 5% <br>
      <input type="radio" formControlName="tolerance" [value]="10"> Plata 10%
    </div>

    <button type="submit" class="boton">Registrar</button>
  </form>

  <table *ngIf="showResults">
    <tr>
      <th>Color1</th>
      <th>Color2</th>
      <th>Color3</th>
      <th>Tolerancia</th>
      <th>Valor</th>
      <th>Valor Máximo</th>
      <th>Valor Mínimo</th>
    </tr>
    <tr>
      <td [ngStyle]="{'background-color': getColorStyle(form.get('color1')?.value)}">{{ form.get('color1')?.value }}</td>
      <td [ngStyle]="{'background-color': getColorStyle(form.get('color2')?.value)}">{{ form.get('color2')?.value }}</td>
      <td [ngStyle]="{'background-color': getColorStyle(form.get('color3')?.value)}">{{ form.get('color3')?.value }}</td>
      <td>{{ form.get('tolerance')?.value }}%</td>
      <td>{{ resistorValue }} Ω</td>
      <td>{{ maxValue }} Ω</td>
      <td>{{ minValue }} Ω</td>
    </tr>
  </table>
</div>

</body>
</html>