<!-- 
<h1>Hola Mundo!!!</h1>

<p>Eso es un saludo...</p>

<div>
  {{title}}
</div>

<div>
  La suma de 2 + 2 es {{2+2}}
</div>

<div>eL doble de 3 es {{duplicarNumero(3)}}</div>

<h2>Datos de la Pelicula</h2>

<div>El nombre de la Pelicula es: {{pelicula.nombre | uppercase}}</div>
<div>El año de la Pelicula es: {{pelicula.fechadeLanzamineto| date: 'dd-MM-yy'}}</div>
<div>El precio de la pelicula es: {{pelicula.precio|currency}}</div>



 -->

<div class="container">
  <div class="row">
    
  </div>
</div>