<form>
  <div class="mb-3">
    <label for="" class="form-label">Numero 1</label>
    <input type="number" class="form-control" [(ngModel)]="num1" name="num1">
  </div>
  
  <div class="mb-3">
    <label for="" class="form-label">Numero 2</label>
    <input type="number" class="form-control" [(ngModel)]="num2" name="num2">
  </div>
  
  <button (click)="sumar()" type="button" class="btn btn-primary">Sumar</button>
  
  <div class="col-6">
    <h2>El resultado es: {{resultado}}</h2>
  </div>
</form>

